src/main/app/ssl-two-way-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="Server_2_HTTP_Listener" protocol="HTTPS" host="0.0.0.0" port="${http.server.2.port}" doc:name="HTTP Listener Configuration">
        <tls:context>
            <tls:trust-store path="clientStore.jks" password="password" type="jks"/>
            <tls:key-store type="jks" path="serverStore.jks" alias="selfsigned" keyPassword="password" password="password"/>
        </tls:context>
    </http:listener-config>
    
    <http:listener-config name="Client_2_Http_Listener"  host="0.0.0.0" port="${http.client.2.port}" doc:name="HTTP Listener Configuration" />
    
    
    <http:request-config name="Server_2_HTTP_Requester_Secured" protocol="HTTPS" host="localhost" port="${http.server.2.port}" doc:name="HTTP Request Configuration"
    	parseResponse="false">
        <tls:context>
            <tls:trust-store path="serverStore.jks" password="password" type="jks"/>
            <tls:key-store type="jks" path="clientStore.jks"  keyPassword="password" password="password"/>
        </tls:context>
    </http:request-config>
    
    <flow name="server-2-flow">
        <http:listener config-ref="Server_2_HTTP_Listener" path="/server2" doc:name="HTTP" allowedMethods="GET"/>
        <set-payload value="#['Request Received']" doc:name="Set Payload"/>
    </flow>
    
    <flow name="client-2-flow">
        <http:listener config-ref="Client_2_Http_Listener" path="/client2" doc:name="HTTP" allowedMethods="GET"/>
        <http:request config-ref="Server_2_HTTP_Requester_Secured" path="/server2" method="GET" doc:name="HTTP"/>
    </flow>
</mule>
